body {
	background-color: #669999;
	background-image: url("../images/dove.png");
	font-family: calibri, "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1, h4 {
	border-radius: 5px;
	border: #476B6B solid 1px;
}

.jumbotron, h1, h3, h4{
	background-color: #A5C0CF;
}

.jumbotron, h1, h3, h4, .btn-default, .list-group {
	border: #476B6B solid 5px;
}

.jumbotron {
	margin-bottom: 0px;
}
